<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
</head>
<div class="row">

</div>
<div class="busqueda" style="font-family: Comic Sans MS; color: darkslateblue">
    <input type="text" placeholder="Buscar.. " name="textobuscar" (keyup)="applyFilter($event.target.value)">
</div>
<div id="cargando" *ngIf="!usersR">
    <img src="../../../assets/images/carga.gif">
</div>

<div class="articles">
    <article class="user-item" id="user-template">
        <mat-table [dataSource]="listData" matSort>
            <ng-container matColumnDef="Perfil">
                <mat-header-cell *matHeaderCellDef>
                    <h1 style="font-family: Comic Sans MS; color: darkslateblue;">Perfil</h1>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="image-wrap">
                        <img [src]='element.urlimage' alt="Profile_Image" />
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Datos">
                <mat-header-cell *matHeaderCellDef>
                    <h1 style="font-family: Comic Sans MS; color: darkslateblue;">Información</h1>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <td>
                        <h2>{{element.nombre}} {{element.apellido}}</h2>
                        <span class="date">
                            Email: {{element.correo}}
                            <br>
                            Celular: 0{{element.telefono}}
                            <br>
                            
                        </span>
                    </td>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Cuenta">
                <mat-header-cell *matHeaderCellDef>
                    <h3 style="font-family: Comic Sans MS; color: darkslateblue;">Comentarios</h3>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <table>
                        <tr style="font-family: Comic Sans MS; color: white">
                            <button style="margin-left: 5px;" (click)="openArticlesUse(element)">Todos los Comentarios</button>
                          </tr>
                    </table>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Usuario">
                <mat-header-cell *matHeaderCellDef>
                    
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                      
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Visualizar">
                <mat-header-cell *matHeaderCellDef>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                   
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5"></mat-paginator>
        <div class="clearfix">
        </div>
    </article>
    <a href="#" class="button blue">
        <span class="icon-house" style="font-family: Comic Sans MS; color: darkslateblue"></span>Inicio
    </a>

</div>