    <div class="center-articulos">
    
    <div class="busqueda" style="font-family: Comic Sans MS; color: darkslateblue">
        <input type="text" placeholder="¿Buscas algun servicio en específico?" name="textoBuscar " 
        (keyup)="applyFilter($event.target.value) ">
    </div>
    

    <div id="cargando" *ngIf="!articulos">
        <img src="../../../assets/images/carga.gif">
    </div>


    <div class="articles">
        <article class="article-item" id="article-template">
            <mat-table [dataSource]="listData" matSort>
                <ng-container matColumnDef="Publicacion">
                    <mat-header-cell *matHeaderCellDef>
                        <h1 style="font-family: Comic Sans MS; color: darkslateblue;">Portada</h1>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div class="image-wrap">
                            <img [src]=" element.img == ''? '/assets/images/camera.png': element.img" alt="Articulo" />
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Datos">
                    <mat-header-cell *matHeaderCellDef>
                        <h1 style="font-family: Comic Sans MS; color: darkslateblue;">Descripción</h1>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <td>
                            <h2>{{element.titulo}}</h2>
                            <span class="date">
                                Fecha de creación: {{element.fecha.toDate() | date:'yyyy/MM/dd h:mm:ss a' | amLocale: 'es' | amTimeAgo }}
                            </span>
                        </td>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Accion">
                    <mat-header-cell *matHeaderCellDef>
                        <h1 style="font-family: Comic Sans MS; color: darkslateblue;">Acción</h1>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button type="button" class="btn btn-default" (click)="eliminarArticulo(element.id)" style="font-family: Comic Sans MS; color: white"> Eliminar<i
                            class="fa fa-trash"></i>
                    </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5"></mat-paginator>
        </article>

        <!--AÑADIR ARTICULOS VIA JS-->

    </div>

    <div class="clearfix"></div>
</div>